


.linkbtn{
    background-color: rgba(250, 235, 215, 0.233);
    color: black;
    z-index: 3;
    height: 50px;
    width: 140px;
    padding: 5px;
    text-align: center;
    border-color: antiquewhite;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    padding: 12px 10px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

.linkbtn:hover{
    background-color: antiquewhite;
    border-color: antiquewhite;
}

.linkbtn:active{
    background-color: rgba(250, 235, 215, 0.342)!important;
    border-color: rgb(102, 94, 84)!important;
}

#sidebtn{
    position: fixed;
    top: 20px;
    background-color:antiquewhite;
    border-color: antiquewhite;
    color:dimgrey;
    font-weight: bolder;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    z-index: 2;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#sidebtn:hover{
    background-color:rgba(243, 224, 224, 0.315);
    color:antiquewhite;
    border-color: dimgray;
}

#sidebtn:active{
    background-color:rgba(105, 105, 105, 0.39);
    color:antiquewhite;
}

#sidelist{
    margin-top: 20px;
}



.myrow{
    margin: 4rem 0rem 4rem 0rem;
    text-align: left;
}


